In [ ]:
#BACA DARI GOOGLE DRIVE
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#import library pandas
import pandas as pd
#baca file data set tv
df = pd.read_csv("/content/drive/My Drive/Dataset/dataset_tv.csv")

In [ ]:
#cetak 4 data terakhir
df.head(4)

,Id,Sentiment,Acara_TV,Jumlah Retweet,Text_Tweet
0,1,positive,HitamPutihTransTV,12,This black and white television program is ver...
1,2,neutral,HitamPutihTransTV,6,just the same
2,3,positive,HitamPutihTransTV,9,"Ada nih di trans7 hitam putih, dia dpt penghar..."
3,4,positive,HitamPutihTransTV,2,selamat ya mas @adietaufan masuk hitamputih

In [ ]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
#PREPROCESSING
import nltk #import library nltk untuk natural language toolkit
import re #import library regex (regular expression)
from nltk.stem import PorterStemmer #import library porter stemmer

#panggil stemmer bahasa inggris
ps = PorterStemmer()

#fungsi untuk replace dengan regex. info detail: https://docs.python.org/3.2/library/re.html
def replace(strs):
    strs = re.sub(r'[^\w\s]','',strs)
    return strs

df['token'] = [i.lower() for i in df.Text_Tweet] #lowertext
df['token'] = [replace(i) for i in df.token] #replace \n \t rt
df['token'] = [nltk.word_tokenize(i) for i in df.token] #tokenize string
df['token'] = [' '.join(ps.stem(y) for y in x) for x in df.token] #STEMMING
df.head(3) #cetak 3 data pertama. data sudah diubah menjadi kata dasar

,Id,Sentiment,Acara_TV,Jumlah Retweet,Text_Tweet,token
0,1,positive,HitamPutihTransTV,12,This black and white television program is ver...,thi black and white televis program is veri go...
1,2,neutral,HitamPutihTransTV,6,just the same,just the same
2,3,positive,HitamPutihTransTV,9,"Ada nih di trans7 hitam putih, dia dpt penghar...",ada nih di trans7 hitam putih dia dpt pengharg...

In [ ]:
#panggil model train_test_split untuk memisahkan data training dan testing
from sklearn.model_selection import train_test_split
#panggil feature extraction Count Vectorizer
from sklearn.feature_extraction.text import CountVectorizer
#panggil feature extraction TF/IDF
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
#split data menjadi data training dan testing, size training 80% sisanya testing
train_data, test_data = train_test_split(df, train_size=0.8,random_state=74)
#vectorizer kita panggil
vectorizer = CountVectorizer()
#fill null dengan ' '
X_train = vectorizer.fit_transform(train_data['token'].fillna(' '))
#label nya ambil dari column category
y_train = train_data['Sentiment']
#fill null dengan ' ' kemudian di fit transform
X_test = vectorizer.transform(test_data['token'].fillna(' '))
y_test = test_data['Sentiment']

In [ ]:
#TF IDF
vectorizer_tf_idf = TfidfVectorizer()
X_train_tf_idf = vectorizer_tf_idf.fit_transform(train_data['token'].fillna(' '))
X_test_tf_idf = vectorizer_tf_idf.transform(test_data['token'].fillna(' '))

In [ ]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix, classification_report

#Model Naive Bayes
gnb = GaussianNB()
#training data
gnb = gnb.fit(X_train.toarray(),y_train)
#prediksi
hasil_gnb = gnb.predict(X_test.toarray())
#evaluasi performance dengan Confusion Matrix
confusion_matrix(hasil_gnb, y_test)
#cetak report
print(classification_report(hasil_gnb, y_test))

              precision    recall  f1-score   support

    negative       0.61      0.79      0.69        28
     neutral       0.45      0.38      0.42        13
    positive       0.85      0.72      0.78        39

    accuracy                           0.69        80
   macro avg       0.64      0.63      0.63        80
weighted avg       0.70      0.69      0.69        80